.section-title {
  line-height: 1.15;
  font-size: 60px;
  white-space: nowrap;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
